<h3>Edit Internship Application</h3>
<div class="row">
    <form action="/internships/{{internship._id}}" method="POST" class="col s12" >
     <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{internship.title}}">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="company" name="company" value="{{internship.company}}">
                <label for="title">Company</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="text" id="skills" name="skills" value="{{internship.skills}}">
                <label for="title">Skills</label>
            </div>
        </div>

          <div class="row">
            <div class="input-field">
                <input type="date" id="applicationDeadline" name="applicationDeadline" value="{{internship.applicationDeadline}}" >
                <label for="applicationDeadline">Application Deadline</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="applied" name="applied" >
                    {{#select internship.applied}}
                    <option value="not applied" selected>Not Applied</option>
                    <option value="applied">Applied</option>
                    {{/select}}
                </select>
                <label for="applied">Application Submitted</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Description</h5>
                <textarea id="body" name="body">{{internship.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>